<div class="row">
    <div class="col col-md"></div>
      <div class="col-10 col-md-8">
        <h2>Editar alumno</h2>
        <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="firstName">Nombre </label>
            <i class="fa fa-check-circle check" *ngIf="studentForm.controls['firstName'].valid"></i>
            <i class="fa fa-exclamation-circle uncheck" *ngIf="studentForm.controls['firstName'].invalid && studentForm.controls['firstName'].touched"></i>
            <input type="text" class="form-control" id="firstName" formControlName="firstName" [(ngModel)]="student.firstName">
          </div>
          <div class="form-group">
            <label for="lastName">Apellidos</label>
            <i class="fa fa-check-circle check" *ngIf="studentForm.controls['lastName'].valid"></i>
            <i class="fa fa-exclamation-circle uncheck" *ngIf="studentForm.controls['lastName'].invalid && studentForm.controls['lastName'].touched"></i>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" [(ngModel)]="student.lastName">
          </div>
          <div class="form-group">
            <label for="email">Correo electrónico</label>
            <i class="fa fa-check-circle check" *ngIf="studentForm.controls['email'].valid"></i>
            <i class="fa fa-exclamation-circle uncheck" *ngIf="studentForm.controls['email'].invalid && studentForm.controls['email'].touched"></i>
            <input type="text" class="form-control" id="email" formControlName="email" [(ngModel)]="student.email">
          </div>
          <div class="form-group">
            <label for="course">Curso</label>
            <i class="fa fa-check-circle check" *ngIf="studentForm.controls['course'].valid"></i>
            <i class="fa fa-exclamation-circle uncheck" *ngIf="studentForm.controls['course'].invalid && studentForm.controls['course'].touched"></i>
            <select class="form-control" id="course" formControlName="course" [(ngModel)]="student.course">
              <option value="">Seleccione...</option>
              <option value="curso1">Curso1</option>
              <option value="curso2">Curso2</option>
              <option value="curso3">Curso3</option>
            </select>
          </div>
          <div class="float-md-right">
              <a class="btn btn-primary m-1" routerLink="/students">
                <i class="fas fa-arrow-alt-circle-left"></i>
                Atrás
              </a>
              <button type="submit" class="btn btn-success m-1" [disabled]="!studentForm.valid">
                <i class="fas fa-check-circle"></i>
                Guardar
              </button>
              <a class="btn btn-danger m-1" routerLink="/students">
                <i class="fas fa-times-circle"></i>
                Cancelar
              </a>
            </div>
          <!-- <p class="alert alert-danger" *ngIf="!studentForm.valid"></p> -->
        </form>
      </div>
    <div class="col col-md"></div>
  </div>
