<h3>Listado de Alumnos</h3>
<a routerLink="/addStudent"><i class="far fa-plus-square fa-2x float-md-right"></i></a>

<table class="table table-bordered table-striped" style="margin-top: 40px;">
  <thead>
    <tr class="filters">
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Correo electrónico</th>
      <th>Curso</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td><a href="mailto:{{ student.email }}">{{ student.email }}</a></td>
      <td>{{ student.course }}</td>
      <td><a routerLink="/editStudent/{{ student.id$ }}"><i class="fas fa-edit fa-2x"></i></a></td>
      <td><a (click)="deleteStudent(student.id$)"><i class="fas fa-trash-alt fa-2x"></i></a></td>
    </tr>
  </tbody>
</table>
